{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" style="padding-top: 4rem; padding-bottom: 4rem;">
        <h1>{{ content.title }}</h1>

        <div class="article-content">
            {{ content.article|raw }}
        </div>
    </div>
{% endblock %}
