body {
    background-color: lightgray;
}

#servicesBootstrapCarousel .carousel-item {
    min-height: 100%;
}

#servicesBootstrapCarousel .carousel-item .col-md-4 {
    display: flex;
}

#servicesBootstrapCarousel .carousel-item .col-md-4 > * {
    width: 100%;
}
